<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxDialog" name="ConnectionDialog">
		<title>Connect to JtagHost</title>
		<pos_arg>1</pos_arg>
		<size_arg>1</size_arg>
		<object class="wxBoxSizer" variable="BoxSizer1" member="no">
			<orient>wxVERTICAL</orient>
			<object class="sizeritem">
				<object class="wxBoxSizer" variable="BoxSizer2" member="no">
					<object class="sizeritem">
						<object class="wxBoxSizer" variable="BoxSizer3" member="no">
							<orient>wxVERTICAL</orient>
							<object class="sizeritem">
								<object class="wxStaticText" name="ID_STATICTEXT1" variable="StaticText1" member="yes">
									<label>Host:</label>
								</object>
								<flag>wxALL|wxALIGN_LEFT</flag>
								<border>5</border>
							</object>
							<object class="sizeritem">
								<object class="wxTextCtrl" name="ID_TEXTCTRL1" variable="textCtrlIp" member="yes">
									<value>127.0.0.1</value>
									<validator>wxTextValidator(wxFILTER__ASCII, addr)</validator>
									<tooltip>IP address or hostname of JtagHost</tooltip>
								</object>
								<flag>wxALL|wxEXPAND</flag>
								<border>5</border>
								<option>1</option>
							</object>
						</object>
						<flag>wxEXPAND</flag>
						<border>5</border>
						<option>3</option>
					</object>
					<object class="sizeritem">
						<object class="wxBoxSizer" variable="BoxSizer4" member="no">
							<orient>wxVERTICAL</orient>
							<object class="sizeritem">
								<object class="wxStaticText" name="ID_STATICTEXT2" variable="StaticText2" member="yes">
									<label>Port:</label>
								</object>
								<flag>wxALL|wxALIGN_LEFT</flag>
								<border>5</border>
							</object>
							<object class="sizeritem">
								<object class="wxTextCtrl" name="ID_TEXTCTRL2" variable="textCtrlPort" member="yes">
									<value>4243</value>
									<validator>wxTextValidator(wxFILTER__DIGITS, port)</validator>
									<tooltip>TCP port of JtagHost connected to IO ViewController (default: 4243)</tooltip>
								</object>
								<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
								<option>1</option>
							</object>
						</object>
						<flag>wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
				</object>
				<flag>wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxStdDialogButtonSizer" variable="StdDialogButtonSizer1" member="no">
					<object class="button">
						<object class="wxButton" name="wxID_OK">
							<label></label>
						</object>
					</object>
					<object class="button">
						<object class="wxButton" name="wxID_CANCEL">
							<label></label>
						</object>
					</object>
				</object>
				<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
			</object>
		</object>
	</object>
</wxsmith>
